/* ------------ Vars ------------ */
:root {
    --app-bar-height: 62px;
    --main-box-padding-top: 24px;
    --default-toolbar-height: 56px;
    --main-table-footer-height: 62px;

    --main-table-wrapper-max-height: calc(100vh - var(--app-bar-height) - var(--main-box-padding-top) - var(--default-toolbar-height) - var(--main-table-footer-height));
    --main-table-wrapper-fullscreened-max-height: calc(100vh - var(--default-toolbar-height) - var(--main-table-footer-height));

    --main-filter-width: 200px;
    --main-filter-max-height: calc(100vh - var(--app-bar-height));
    --main-filter-fullscreened-max-height: 100vh;
}

/* ------------ /end Vars ------------ */


/* ------------ Max lines limited text ------------ */
[data-on-click="toggle-text-max-lines"] {
    cursor: pointer;
}

.max-lines-limited-text.one-lines-limited-text {
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.max-lines-limited-text.three-lines-limited-text {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ------------ /end misc ------------ */


/* ------------ Main table ------------ */
.main-table.main-table--with-filter {
    /* 100% - .default-table-wrapper:gap - .main-filter:width */
    max-width: calc(100% - 24px - var(--main-filter-width));
}

.main-table .v-table__wrapper {
    max-height: var(--main-table-wrapper-max-height);
    overflow: auto;
}

/* Fullscreen mode */
.default-table-wrapper.fullscreen .main-table .v-table__wrapper {
    max-height: var(--main-table-wrapper-fullscreened-max-height);
}

.main-table table {
    table-layout: fixed;
}

/* Thead */
.main-table th {
    padding-left: 8px !important;
    padding-right: 8px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Body */
.main-table td {
    padding: 8px !important;
    align-content: start;
    word-break: break-word;
    justify-items: flex-start;
}

/* ------------ /end Main table ------------ */


/* ------------ Main filter ------------ */
.main-filter {
    width: var(--main-filter-width);
    min-width: var(--main-filter-width);
    max-height: var(--main-filter-max-height);
    overflow-y: auto;
}

/* Fullscreen mode */
.default-table-wrapper.fullscreen .main-filter {
    max-height: var(--main-filter-fullscreened-max-height);
}

/* ------------ /end Main filter ------------ */
