/* ------------ Vars ------------ */
:root {
    --app-bar-height: 62px;
    --main-box-padding-top: 24px;
    --default-toolbar-height: 56px;
    --main-table-footer-height: 62px;

    --main-table-wrapper-max-height: calc(100vh - var(--app-bar-height) - var(--main-box-padding-top) - var(--default-toolbar-height) - var(--main-table-footer-height));
    --main-table-wrapper-fullscreened-max-height: calc(100vh - var(--default-toolbar-height) - var(--main-table-footer-height));

    --main-filter-width: 200px;
    --main-filter-max-height: calc(100vh - var(--app-bar-height) - var(--main-box-padding-top));
    --main-filter-fullscreened-max-height: 100vh;
}

/* ------------ /end Vars ------------ */


/* ------------ Inertia progress bar ------------ */
body.theme--light #nprogress .bar {
    background: #1867c0 !important;
}
body.theme--dark #nprogress .bar {
    background: #FF9800 !important;
}

/* Optional glow effect (peg) */
body.theme--light #nprogress .peg {
    box-shadow: 0 0 10px #1867c0, 0 0 5px #1867c0 !important;
}
body.theme--dark #nprogress .peg {
    box-shadow: 0 0 10px #FF9800, 0 0 5px #FF9800 !important;
}
/* ------------ /end Inertia progress bar ------------ */


/* ------------ Max lines limited text ------------ */
[data-on-click="toggle-text-max-lines"] {
    cursor: pointer;
}

.max-lines-limited-text.one-lines-limited-text {
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.max-lines-limited-text.three-lines-limited-text {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ------------ /end Max lines limited text ------------ */


/* ------------ Main table ------------ */
.main-table.main-table--with-filter {
    /* 100% - .default-table-wrapper:gap - .main-filter:width */
    max-width: calc(100% - 24px - var(--main-filter-width));
}

.main-table--limited-height .v-table__wrapper {
    max-height: var(--main-table-wrapper-max-height);
    overflow: auto;
}

/* Fullscreen mode */
.default-table-wrapper.fullscreen .main-table .v-table__wrapper {
    max-height: var(--main-table-wrapper-fullscreened-max-height);
}

.main-table table {
    table-layout: fixed;
}

/* Thead */
.main-table th {
    padding-left: 8px !important;
    padding-right: 8px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Body */
.main-table td {
    padding: 8px !important;
    align-content: start;
    word-break: break-word;
    justify-items: flex-start;
}

.main-table .three-lines-limited-text img {
    max-width: 40px;
    height: auto;
}
/* ------------ /end Main table ------------ */


/* ------------ Main filter ------------ */
.main-filter {
    width: var(--main-filter-width);
    min-width: var(--main-filter-width);
}

/* Set max-height for v-card to enable position sticky for apply button */
.main-filter > .v-card {
    max-height: var(--main-filter-max-height);
    overflow-y: auto;
}

/* Fullscreen mode */
.default-table-wrapper.fullscreen .main-filter > .v-card {
    max-height: var(--main-filter-fullscreened-max-height);
}

/* Align with main-table header */
.main-filter .v-card-item {
    height: 56px;
}

.main-filter .v-card-text {
    padding-top: 18px;
}
/* ------------ /end Main filter ------------ */
